<div class="ui secondary menu">
    <a class="active item" href="{{ path('view_movie') }}">
        Dashboard
    </a>

    <a class="active item" href="{{ path('movie') }}">
        New Movie
    </a>

</div>


