{% extends 'base.html.twig' %}

{% block title %}Home User{% endblock %}

{% block body %}
    {% include('partials/navbaruser.html.twig') %}

    {% if app.user %}
        <div class="mb-3">
            Welcome {{ app.user.username }}
        </div>
    {% endif %}

{% endblock %}
