{% extends 'base.html.twig' %}

{% block title %}List of Rentals{% endblock %}

{% block body %}
    {% include('partials/admin/navbaradmin.html.twig') %}

    <div class="example-wrapper">
        <h2>List of rentals</h2>

        <table class="ui celled table">
            <tr>
                <th>ID</th>
                <th>Rental Date</th>
                <th>Return Date</th>
            </tr>
            {% for x in data %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.rentalDate.format('d/m/Y') }}</td>
                    <td>{{ x.returnDate.format('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>


{% endblock %}
